clone_airborne_armor.p3d
clone_arc_armor.p3d
clone_assault_armor.p3d
clone_cfr_armor.p3d
clone_commander_armor.p3d
clone_grenadier_armor.p3d
clone_kama_armor.p3d
clone_lieutenant_armor.p3d
clone_light_armor.p3d
clone_medic_armor.p3d
clone_recon_armor.p3d
clone_recon_officer_armor.p3d
clone_specialist_armor.p3d
